[Unit]
Description=Garbage collector timer
# Garbage collector service acts on core dump files, so that the service that configures core dumps needs to be started before
After=configure-coredumps.service

[Timer]
Unit=garbage_collector@timer.service
OnActiveSec=30
OnUnitActiveSec=1day

[Install]
WantedBy=multi-user.target
