[Unit]
Description=Hardware RNG Entropy Gatherer Daemon

[Service]
ExecStart=@SBINDIR@/rngd --foreground --rng-device=/dev/hwrng
SuccessExitStatus=66

[Install]
WantedBy=multi-user.target
