# This service is not directly activated.  openvpn.path will start it if expected path are present.

[Unit]
Description=Openvpn client
After=connman.service
# Must be restarted if connman.service is restarted
PartOf=connman.service

# Mirror PathExists conditions of the path unit to start the service when all files are present
ConditionPathExists=/etc/keys/openvpn.cfg
# %H is expanded as hostname
ConditionPathExists=/etc/keys/%H.key
ConditionPathExists=/etc/keys/%H.crt

[Service]
Type=forking
ExecStart=/usr/local/bin/runOpenvpn.sh start
ExecStop=/usr/local/bin/runOpenvpn.sh stop
# This service is restarted automatically by systemd in case of failure (and after a 2 min delay)
Restart=on-failure
RestartSec=2min
PrivateTmp=yes
ProtectSystem=strict
ReadWritePaths=/var/run/
CapabilityBoundingSet=CAP_IPC_LOCK CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW CAP_SYS_CHROOT CAP_SETGID CAP_SETUID

[Install]
WantedBy=multi-user.target

