[Unit]
Description=iptables rules
Wants=network-pre.target
Before=network-pre.target
Before=ip6tables.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/iptables.sh

[Install]
WantedBy=multi-user.target
