## OpenSSH server configuration
##
## Commented configuration lines, beginning with one '#', corresponds to the
## default value; thus are equivalent with or whithout the prepending '#'
## Modified value are followed by a comment reminding the default.
##
## The defaults value showed below are valid for OpenSSH 7.8p1

## Network configuration
#AddressFamily any
#Port 22
ClientAliveCountMax 4 # default: 3
ClientAliveInterval 15 # default: 0; meaning 'ClientAlive' is disabled
## 'TCPKeepAlive' is not needed as the tunneled 'ClientAlive' mechanism is used
TCPKeepAlive no # default: yes

## Ciphers and keying
#HostKey /etc/ssh/ssh_host_rsa_key
#HostKey /etc/ssh/ssh_host_ecdsa_key
#HostKey /etc/ssh/ssh_host_ed25519_key

#FingerprintHash sha256
RekeyLimit 1G 2h # default: default none; the value of default depends on the cipher used

## Allowed users to authenticate
#PermitRootLogin without-password
AuthorizedKeysFile .ssh/authorized_keys # default: .ssh/authorized_keys .ssh/authorized_keys2
AllowGroups ssh-allowed ssh-allowed-tmp # no default: no restriction based on the user groups
RevokedKeys /etc/ssh/revoked_keys # default: none

## Authentication methods
AuthenticationMethods publickey # default: any
#PubkeyAuthentication yes
#PermitEmptyPasswords no
PasswordAuthentication no # default: yes
ChallengeResponseAuthentication no # default: yes
#HostbasedAuthentication no
#UsePAM no
#UseDNS no

## Anti DOS measures
LoginGraceTime 1m # default: 120 (2m)
#MaxAuthTries 6
## randomly drop new connections once 10 unauthenticated ones are already opened
#MaxStartups 10:30:100

# Disable insecure Kex algorithms : 
# - diffie-hellman-group14-sha1 : stronger than diffie-hellman-group1-sha1 but will probably be soon broken "CIS_Distribution_Independent_Linux_Benchmark_v2.0.0.pdf" (https://learn.cisecurity.org/benchmarks)
# - ecdh-sha2-nistp* : There are suspicions that the NIST algos are weak as selected by NSA (https://blog.cr.yp.to/20140323-ecdsa.html)
KexAlgorithms -diffie-hellman-group14-sha1,ecdh-sha2-nistp*

# Disable insecure Host Key algorithms :
# - ssh-rsa : it will soon be deprecated by OpenSSH (https://lwn.net/Articles/821544/)
# - ecdsa-sha2-nistp256 : There are suspicions that the NIST algos are weak as selected by NSA (https://blog.cr.yp.to/20140323-ecdsa.html)
HostKeyAlgorithms -ssh-rsa,ecdsa-sha2-nistp256

# Disable insecure MAC algorithms :
# -hmac-sha1* : hmac-sha1 are using sha1 hash which is broken "CIS_Distribution_Independent_Linux_Benchmark_v2.0.0.pdf" (https://learn.cisecurity.org/benchmarks)
# -umac-64* : is using too low entropy "CIS_Distribution_Independent_Linux_Benchmark_v2.0.0.pdf" (https://learn.cisecurity.org/benchmarks and https://blog.stribik.technology/2015/01/04/secure-secure-shell.html)
MACs -hmac-sha1*,umac-64*

## Logging
#SyslogFacility AUTH
#LogLevel INFO

## Misc
DisableForwarding yes # default: no
#StrictModes yes
#PermitTunnel no
#PermitUserEnvironment no
#PermitUserRC yes
#PermitTTY yes
#GatewayPorts no
#ExposeAuthInfo no
#Compression yes
#VersionAddendum none
#PrintLastLog yes
#PrintMotd yes
#Banner none
#PidFile /var/run/sshd.pid
#MaxSessions 10
#ChrootDirectory none

# override default of no subsystems
Subsystem       sftp    internal-sftp

## Certificate support
TrustedUserCAKeys /etc/ssh/CA.pub
